@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

*:focus {
    outline: none;
}

body {
    background-image: linear-gradient(#232526, #414345);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    margin: 10px 0px;
}

.container label {
    font-size: 28px;
    margin-right: 5px;
}

.container select {
    background-color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    /* For select box padding in different browsers */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.container2 {
    perspective: 1000px;
    margin-bottom: 30px;
}

.row {
    display: flex;
}

.seatArrangement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    list-style-type: none;
}

.seatArrangement li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 0px 10px;
}

.seatArrangement li small {
    margin-left: 5px;
}

.screen {
    background-color: #fff;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 90px;
    margin: 20px 0;
    -webkit-transform: rotateX(-45deg);
    -moz-transform: rotateX(-45deg);
    -ms-transform: rotateX(-45deg);
    -o-transform: rotateX(-45deg);
}

.seat {
    background-color: #ffffff;
    width: 15px;
    height: 16px;
    margin: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seat.selected {
    background-color: #3498db;
    box-shadow: 0 1px 1px;
}

.seat.occupied {
    background-color: #8778;
    box-shadow: 0 1px 1px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transition-duration: 0.1s;
}

.sitting .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.seat:nth-of-type(3) {
    margin-right: 20px;
}

.seat:nth-last-of-type(3) {
    margin-left: 20px;
}

.text {
    font-size: 18px;
    word-spacing: 1px;
}

p.text span {
    color: #3498db;
    font-style: italic;
}

button {
    cursor: pointer;
    /*Standardcolorforbutton*/
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    margin: 0px auto;
    color: #fff;
    display: block;
    font-size: 18px;
    padding: 15px;
    margin-bottom: 20px;
    width: 250px;
}

button:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition-duration: 0.1s;
}